---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-md flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      👋 안녕하세요. 개발자 조명근입니다.<br />
      Frontend 개발을 주로 하면서 개발 전반에 관심이 많습니다.<br />
      어떻게 하면 효율적인 "일잘러"가 될 수 있을지 고민하고 있습니다.
    </p>

    <p>
      <a
        href="https://github.com/dding-g"
        target="_blank"
        class="text-blue-500 underline">Github</a
      >

      <a
        href="https://dding-g.notion.site/db01cccfe7b2421c9907c70e29c4055f"
        target="_blank"
        class="text-blue-500 underline">Portfolio</a
      >

      <a
        href="https://www.linkedin.com/in/ddingg/"
        target="_blank"
        class="text-blue-500 underline">Linkedin</a
      >

      <a
        href="https://www.instagram.com/dding_gg/"
        target="_blank"
        class="text-blue-500 underline">Instagram</a
      >
    </p>
  </main>
</Layout>
