---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/">
      <img src="/logo.svg" alt="logo" width="32" height="32" />
    </a>
    <a href="/posts"> posts </a>
    <a href={`mailto:${EMAIL}`}>email</a>
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-zinc-400 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
