---
import ProfileLayout from "./profile-layout.astro";
---

<ProfileLayout title="활동">
  <li>
    <b>SIPE - 3기</b>
    <p>
      2024.10 ~ 2025.02<br />
      개발자 동아리 SIPE 3기 활동 <a
        class="underline"
        target="_blank"
        href="https://github.com/sipe-team/3-1_all_in_one_state">(링크)</a
      >
    </p>
  </li>
</ProfileLayout>
