---
import { getDateDiff, getPeriodText } from "@/utils/date";
import CareerCompanyMetadata from "./career-company-metadata.astro";

const careers = {
  specter: {
    logo: {
      src: "/logo/specter.png",
      width: 80,
      height: 30,
    },
    company: "스펙터(Specter)",
    workStartDate: "2022.11",
    workEndDate: "",
    working: true,
    position: "Software Engineer",
    team: "개발팀",
    link: "https://www.specter.co.kr",
  },
  goorm: {
    logo: {
      src: "/logo/goorm.svg",
      width: 85,
      height: 22,
    },
    company: "구름(goorm)",
    workStartDate: "2021.01",
    workEndDate: "2022.06",
    working: false,
    position: "Software Engineer",
    team: "goormIDE Squad",
    link: "https://ide.goorm.io/",
  },
};

const totalCareerMonth = Object.values(careers).reduce(
  (cur, career) => cur + getDateDiff(career.workStartDate, career.workEndDate),
  0,
);

const careerPeriod = getPeriodText(totalCareerMonth);
---

<div class="space-y-8">
  <h2 class="text-2xl font-bold">경력 ({careerPeriod})</h2>
  <ul class="list-inside space-y-6">
    <li class="space-y-2">
      <CareerCompanyMetadata {...careers.specter} />
      <div>
        {
          [
            "비즈니스의 의사결정을 존중하고 어떻게하면 더 나은 제품을 만들 수 있을지 고민했습니다.",
            "프로젝트의 오너를 맡아 3개월간 프로젝트를 진행했습니다.",
            "두배 이상 커진 서비스를 어떻게 유지보수/개발 하면 좋을지 고민하고 개선했습니다.",
          ].map((text) => <p class="italic">{text}</p>)
        }
      </div>

      <div>
        <b>JQuery → Next.js 마이그레이션</b>
        <p>
          - 40개 이상의 페이지들을 분석하고, 전반적인 설계, 퍼블리싱, 개발을
          리드
        </p>
      </div>

      <div>
        <b>Frontend 인프라 구축 및 개선</b>
        <p>
          - AWS ECS + Fargate로 인프라 관리 <a
            class="text-sm underline"
            href="/posts/infra/ecs-전환"
            >FE개발자의 ECS 전환기
          </a><br />
          - 여러대의 개발서버를 하나의 인스턴스에서 관리할 수 있도록 개선 <a
            class="text-sm underline"
            href="/posts/infra/fe개발자가-개발서버-인프라-구성한-이야기"
            >인프라 구성기
          </a><br />
        </p>
      </div>

      <div>
        <b>프로젝트 오너</b>
        <p>
          - 프로젝트의 오너를 맡아 3개월간 프로젝트를 진행 (PO, FE, 기획 참여)<br
          />
          - CX팀에서 수기로 진행하던 전반적인 프로세스를 플랫폼화 <br />
          - 운영 공수 60% 감소
        </p>
      </div>

      <div>
        <b>PDF 서버 구축</b>
        <p>
          - react-pdf를 사용한 PDF 서버 구축 <br />
        </p>
      </div>
    </li>
    <li>
      <CareerCompanyMetadata {...careers.goorm} />
    </li>
  </ul>
</div>
