---
import ProfileLayout from "./profile-layout.astro";
---

<ProfileLayout title="교육">
  <li>
    <b>한림대학교</b>
    <p>
      2015 ~ 2021<br />
      컴퓨터공학과 학사 졸업
    </p>
    <ul>
      <li class="list-inside list-disc">
        <a
          class="underline"
          href="https://github.com/2020-Hallym-Capstone-Design-Team-PHAS/PHAS-Document"
          target="_blank"
        >
          2020.06 1학기 SW캡스톤 디자인 경진대회 2위 (한림대학교 SW사업단장 상)
        </a>
      </li>
      <li class="list-inside list-disc">
        2019.12 강원 ICT 경진대회 장려상 (강원대학교 SW사업단장 상)
      </li>
      <li class="list-inside list-disc">
        <a
          class="underline"
          href="https://github.com/dding-g/Tesseract_Korean_Converter"
          target="_blank"
        >
          2019.10 2학기 SW캡스톤 디자인 결과발표회 은상(한림대학교 SW사업단장
          상)
        </a>
      </li>
      <li class="list-inside list-disc">
        <a
          class="underline"
          href="https://github.com/dding-g/2019_Gangwon_IDEA_SW_HACKATHON"
          target="_blank"
        >
          2019.09 강원도 아이디어 해커톤 대상 (한림대학교 총장 상)</a
        >
      </li>
      <li class="list-inside list-disc">
        2018.11 한림대학교 SW융합대학 해커톤 대상
      </li>
    </ul>
  </li>
  <li>
    <b>UCSD Qualcomm Institute - Health-Related IoT Tracking platform 7기</b>
    <p>
      2019.07 ~ 2019.08<br />
      1위 수료, Outstanding-achievement 수상<br />
      <a
        class="underline"
        href="https://github.com/dding-g/Project_UCSD"
        target="_blank">github</a
      >
      <a
        class="underline"
        href="http://localhost:4321/posts/%EC%83%9D%EA%B0%81%EC%A0%95%EB%A6%AC/2019-qi-iot-summer-project"
        target="_blank">회고</a
      >
    </p>
  </li>
</ProfileLayout>
