---
import ProfileLinkGroup from "./profile-header-link-group.astro";
---

<div>
  <!-- Header -->
  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl">조명근</h1>
      <div class="flex items-center gap-2">
        <p class="text-lg">Software Engineer</p>
        <ProfileLinkGroup />
      </div>
    </div>
    <div
      class="flex h-[120px] w-[120px] items-end justify-center overflow-hidden rounded-full border border-zinc-200 dark:border-zinc-700"
    >
      <img src="/profile.webp" alt="profile" />
    </div>
  </div>

  <!-- Header - 소개글 -->
  <div class="mt-6">
    <p>
      <b>안녕하세요. 4년차 개발자 조명근입니다.</b><br />
      웹 개발 전반에 관여하는 풀스택 개발에 관심이 많습니다.<br /><br />

      불편함이 보이는 <b>gray zone</b>이 있다면, <b>먼저 나서서 해결</b>하는
      것을 좋아합니다.<br />
      최근에는 아날로그 방식으로 운영되던 프로세스를 디지털화하는 프로젝트의 오너로
      리딩한 경험이 있습니다.<br />
      개선된 프로세스가 실질적인 변화를 만들어낼 때 가장 큰 보람을 느낍니다. <br
      /><br />

      <b>동료들의 신뢰를 중요시합니다.</b><br />
      주도적으로 일할 수 있는 환경은 동료 간의 신뢰가 있어야 가능하다고 믿습니다.<br
      />
      책임감과 동료애가 강한 성향으로, 내 일이 아니더라도 사내의 문제를 발견하면
      적극적으로 해결하려 합니다. <br />
      최근에는 팀 빌딩이 사내의 가장 큰 고민이였기에 링크드인을 찾아 PM분들에게 커피챗을
      요청/진행 한 경험이 있습니다.<br /><br />

      <b>커뮤니티의 힘을 믿습니다.</b><br />
      개발자는 다양한 사람들과 소통하며 성장한다고 생각합니다.<br />
      IT동아리, 개발 소모임, 컨퍼런스 등 다양한 커뮤니티 활동을 좋아합니다.<br
      />
      최근에는 SIPE라는 IT동아리에서 활동한 경험이 있습니다.<br />
    </p>
  </div>
</div>
