---
import ProfileLinkGroup from "./profile-header-link-group.astro";
---

<div>
  <!-- Header -->
  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl">조명근</h1>
      <div class="flex items-center gap-2">
        <p class="text-lg">Software Engineer</p>
        <ProfileLinkGroup />
      </div>
    </div>
    <div
      class="flex h-[120px] w-[120px] items-end justify-center overflow-hidden rounded-full border border-zinc-200 dark:border-zinc-700"
    >
      <img src="/profile.webp" alt="profile" />
    </div>
  </div>

  <!-- Header - 소개글 -->
  <div class="mt-6">
    <p>
      안녕하세요. 4년차 개발자 조명근입니다.<br />
      웹 개발 전반에 경계를 허물고 문제를 해결하기 위한 개발을 해왔습니다. <br
      /><br />

      불편함이 보이는 gray zone이 보이면 먼저 해결하려 노력합니다.<br />
      최근에는 아날로그로 진행중인 프로세스를 플랫폼화하는 프로젝트 오너를 맡아 프로젝트를
      리딩했습니다.<br />과정에서 개선되는 프로세스들을 보면 짜릿함을 느낍니다. <br
      /><br />

      동료들의 신뢰를 중요시합니다.<br />
      개인이 주도적으로 일할 수 있는 환경은 신뢰가 바탕이 되어야 하기 때문입니다.<br
      />
      책임감과 동료의식이 강해서 내 일이 아니라도 사내에 문제가 되는 부분들은 주도적으로
      해결하려 합니다. <br /><br />

      커뮤니티의 힘을 믿습니다.<br />
      개발자는 여러 사람과 소통하는 과정에서 성장한다고 생각합니다.<br />
      IT동아리, 개발 소모임, 컨퍼런스 등 다양한 커뮤니티 활동을 좋아합니다.<br
      />
    </p>
  </div>
</div>
