---
import ProfileLinkGroup from "./profile-header-link-group.astro";
---

<div>
  <!-- Header -->
  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl">조명근</h1>
      <div class="flex items-center gap-2">
        <p class="text-lg">Software Engineer</p>
        <ProfileLinkGroup />
      </div>
    </div>
    <div
      class="h-[120px] w-[120px] overflow-hidden rounded-full border border-zinc-200 dark:border-zinc-700"
    >
      <img src="/notion-avatar.png" alt="profile" />
    </div>
  </div>

  <!-- Header - 소개글 -->
  <div class="mt-6">
    <p>
      👋 안녕하세요. 개발자 조명근입니다.<br />
      Frontend 개발을 주로 하면서 개발 전반에 관심이 많습니다.<br />
      어떻게 하면 효율적인 "일잘러"가 될 수 있을지 고민하고 있습니다.
    </p>
  </div>
</div>
